.popup__close-button {
  display: block;
  position: absolute;
  top: -40px;
  right: -40px;
  margin: auto 0;
  width: 32px;
  height: 32px;
  background-image: url(../../../image/Close-Icon.svg);
  background-color: transparent;
  background-size: cover;
  border: 0;
}

@media screen and (max-width: 590px) {
  .popup__close-button {
    right: 0;
    width: 20px;
    height: 20px;
  }
}