.header__link {
  align-self: center;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: all .3s ease-in-out;
}

.header__link:hover{
  opacity: .6;
  cursor: pointer;
}