.profile__block {
  display: flex;
  margin: 0;
  grid-area: name;  
}

@media screen and (max-width: 879px) {
  .profile__block {
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 15px;
  }
}