.profile {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 35px auto 0;
}

@media screen and (max-width: 879px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
  }
}